

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
	
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
border-bottom: 10px solid #AA4465;
border-left: 10px solid #AA4465;
border-right: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
.body_background 
{
    background-image: url("newBG.jpg");
	
	background-repeat: no-repeat;
}
#heading{
	font-family: 'Kaushan Script', cursive;
	font-size: 50px;
}
#player_question, #player_answer{
   font-family:'Cinzel', serif;
   background-image:linear-gradient(to right,#0e0a40,#716aba);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}
.btn:hover{
	background-color:#190da1;
}

#player1_score, #player2_score{
   font-size: 40px;;
}